@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0%;
    border: 0;
    box-sizing: border-box;
}

img{
     max-width: 100%;
}
#logo{
    width: 25%;
    
} 
h1{
    color:#021E44;

}

h2 {
    color: #021E44
}

.boton{
    color: #5CAA6D
}
    

header{
    background-image: url(../imagenes/hmtl_portada.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    margin: 1em;
    height: 20rem;

}
.historia-header{
    background-image: url(../imagenes/html_historia.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 10rem;
}
.calltoaction{
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 5em;
}

.why{
    margin-left:1em ;
    margin-right: 1em;
    display: flex;
    justify-content: center;
}

.destacado1{
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0;
    padding: 1em;
    display: flex;
    justify-content:center; 
    text-align: center; 
    flex-direction: column;
    align-items: center;
    text-align: center; 
    align-content:space-between;
}
.destacado2{
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    display: flex;
    justify-content:center;  
    text-align:center;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}
.destacado1 img,
.destacado2 img {
    margin-top: 20px;
    max-width: 50px;
}

#fotofinal{
margin-left: 1em;
margin-right: 1em;
padding: 1em;
display: flex;
justify-content:center;
border-color: #5CAA6D;
}
#fotofinal2{
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    display: flex;
    justify-content:center;
    border-color: #5CAA6D;
}
.redes-sociales{
    margin-left: 1em;
    margin-right: 1em;
    border: 1em;
    display: flex;
    justify-content:center;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    width: 50%;
}
.mapa-sitio
{
width: 50%;
}
img{
    max-width: 100%;
    margin-right: 10px;
}
#redes-sociales{
    width: 50%;
}
body{
 font-family: 'Noto Sans', sans-serif;
   
}
@font-face {
    font-family: ;
    src: url();
}
p {
    font-family: ;
    font-size: ;
    color: ;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #EEEEEE;
}
.mapasitio{
    width: 60%;
}

/* ----
   menu
   ---- */

/* botón "hamburguesa" */
.menu-btn {
    background: hsl(0 0% 100% / 0.25);
    border-radius: 50%;
    box-shadow: -5px 5px 5px hsl(180 100% 4% / 0.2);
    padding: .75rem;
    width: 3rem;
    aspect-ratio: 1;
    cursor: pointer;
    transition: all 0.3s ease-out; /* anima el "hover" */
  
    /* fijo, no "scrolea", no genera scroll */
    position: fixed;
    /* emplazamiento 1 renglón del borde superior */
    top: 1em;
    /* emplazamiento 1 renglón del borde derecho */
    right: 1em;
    /* en capa superior, casi arriba de todo */
    z-index: 9000;
  }
  
  /* cada barra de la "hamburguesa" */
  .menu-btn .btn-linea {
    width: 25px;
    height: 3px;
    margin: 4px 0 4px 0;
    background: hsl(0 0% 90%);
    transition: all 0.3s ease-out;
    /* capa superior, pero no parece */
    position: relative;
    /* capa superior, casi arriba de todo */
    z-index: 9000;
  }
  
  /* cada barra, transformacion para formar la "X" */
  .menuVisible .menu-btn .btn-linea {
    transform: rotate(180deg);
  }
  /* Las tres barras para formar la "X" */
  .menuVisible .menu-btn .btn-linea:nth-child(1) {
    transform: rotate(45deg) translate(4px, 6px);
  }
  .menuVisible .menu-btn .btn-linea:nth-child(2) {
    opacity: 0;
  }
  .menuVisible .menu-btn .btn-linea:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -6px);
  }
  
  /* menú propiamente dicho */
  nav ul {
    background-color: hsl(155, 92%, 36%);
    display: grid;
    place-items: center;
    place-content: center;
  
    /* sale del fondo, queda fijo */
    position: fixed;
    /* emplazamiento,
    estirado en toda la ventana */
    inset: 0;
    /* capa superior, arriba de casi todo */
    z-index: 8000;
    /* escondido "a la derecha" */
    translate: 100%;
    
    transition: all .6s ease; /* anima cuando "nav" NO tiene la clase "menuVisible" */
  }
  
  /* el menu cuando "nav" tiene la clase "menuVisible" */
  .menuVisible ul {
    background-color: hsl(155, 92%, 36%);
    transition: all .4s ease; /* anima cuando "nav" tiene la clase "menuVisible" */
    
    /* se muestra */
    translate: 0;
  }
  
  /* cada vínculo del menu */
  nav ul li a {
    border-bottom: solid 3px hsl(0 0% 100% / 0.1);
    color: white;
    display: block;
    font-size: 1em;
    margin-block-end: .5rem;
    width: min(70vw, 20rem); /* el valor menor entre el 40% del ancho de la ventana del navegador y 240px */
    text-align: center;
    
    padding: .5rem;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    border-bottom: solid 3px hsl(0 0% 100% / 0.5);
    transition: all .3s;
  }
  li{
    list-style: none;
}
  

  /*pagina de historia*/

.historia-container {
    margin-left: 1em;
    display: flex;
    justify-content: flex-start;
}
.quienes-somos {
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;

}

.mision {
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
    display: flex;
    justify-content:flex-start; 
    flex-wrap: wrap;
}

.redes-sociales1{
    width: 50%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-inline:auto;     
}
.boton {
    color: #fff;
    background-color: #5CAA6D;
    border: 2px solid #5CAA6D;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    align-content: center;
    display: flex;
    justify-content: center;
}
.boton:hover{
    background-color: #fff;
    color: #5CAA6D;
}
.footer-historia{
    background-color: #021E44;
    background-size: 60%;
}


 /*pagina de nuestro team */

.emcabezado-team {
    background-color: #021E44;
    background-image: none;
    height: 8rem;
 }
 .nuestro-team{
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
 }
 .team1{
    display: flex;
    margin-left: 1em;
    margin-left: 1em;
    padding: 1em;   
 }
 .team1 img{
    width: 50%;
    padding: 1em;
 }

 
.team2{
    display: flex;
    margin-left: 1em;
    margin-left: 1em;
    padding: 1em;
    
}
.team2 img{
    width: 50%;
    padding: 1em;
}

.team3{
    display: flex;
    margin-left: 1em;
    margin-left: 1em;
    padding: 1em;
}
.team3 img{
    width: 50%;
    padding: 1em;
}
.redes-sociales2{
    width: 50%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-inline:auto; 
}
.footer-team{
    background-color: #021E44;
}


/*pagina de razones sociales */
.emcabezado-rs{
    background-image: url(../imagenes/html_somalia.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 10rem;
}
.raz-s{
    margin-left: 1em;
    margin-right: 1em;
}
.rz1{
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}
.rz1 img{
    display: block;
    margin: 0 auto; /* Center the image */
    width: 50%;
    border-radius: 10px;
    padding: auto;
}
.rz2{
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}
.rz2 img{
    display: block;
    margin: 0 auto; /* Center the image */
    width: 50%;
    border-radius: 10px;
    padding: auto;
}

.rz3{
    margin-left: 1em;
    margin-right: 1em;
    text-align: center; 
}
.rz3 img{
    display: block;
    margin: 0 auto; /* Center the image */
    width: 50%;
    border-radius: 10px;
    padding: auto;
} 
.footer-razones{
    background-color: #021E44;
}
.redes-sociales3{
    width: 50%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-inline:auto; 
    padding-top: 1em;
}   
  /*Formulario registrate invierte*/
  .emcabezado-invierte{
    background-image: url(../imagenes/html_somalia.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 10rem;
  }
  .formulario-contenido {
    text-align: center;
    margin-top: 5px;
    margin: 0;
    padding: 0;
    background-color: #E8E8E8;
    color: #fff; /* Añadido para que el texto sea visible */
    height: 30rem;
}
.registro-title {
    font-size: 2rem;
    margin-bottom: 15px;
}

.form-group input[type="text"],
.form-group input[type="email"],{
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            font-size: 10rem;
            box-sizing: border-box;
        }

.btn-registrarse {
            background-color: #5CAA6D;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .btn-registrarse:hover {
            background-color:#021E44;
        }

@media screen and (min-width:768px) {


header {
height:40rem;
}
.contenedor-destacados{
    display: flex;
    margin: 20px;
}
.fotofinal img, .fotofinal2 img {
  
    max-height: 200px; /* Ajusta según tus necesidades */
    object-fit: cover; /* Mantener proporción de aspecto */ 
    margin: 20px;  
}
.contenedor-fotosf {
    display: flex;
    justify-content: center;
    margin-left: 2em;
    margin-right: 2em;
    padding: 2em;
    border: #5CAA6D;
    border-width: 100em;
}
.historia-header{
height: 30rem;
}
.rz1 img{
    display: flex;
    width: 40%;
    border-radius: 10px;
    padding: auto;
}

}

